@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("variables.css");

html,
body {
    margin: 0;
    background-color: var(--color-background);
}

* {
    box-sizing: border-box;

    transition: 0.2s ease-in-out all;
}

body {
    font-family: "Inter", sans-serif;
    min-height: 100vh;
    min-height: 100dvh;
    display: grid;
    grid-template-areas:
        "header"
        "main"
        "footer";
    grid-template-rows: auto 1fr auto;
}

a {
    color: var(--color-accent);

    &:visited {
        color: var(--color-accent-secondary);
    }
}

button {
    background-color: var(--color-accent);
    border-radius: var(--border-radius);
    border: none;
    outline: none;
    height: 50px;
    font-size: 1rem;
    color: white;
    user-select: none;
    cursor: pointer;

    &:hover {
        background-color: var(--color-accent-secondary);
    }
}

img {
    display: block;
    max-width: 100%;
}

.app-header {
    width: 100%;
    background-color: var(--color-background-header);
    color: var(--color-text-header);
    height: 60px;
    display: flex;
    align-items: center;
    grid-area: header;

    .app-header__nav {
        margin: 0 auto;
        width: fit-content;

        .menu {
            display: flex;
            gap: var(--gap-normal);
            list-style-type: none;
            padding: 0;
            margin: 0;

            .menu__link {
                color: inherit;
                text-decoration: none;
            }
        }
    }
}

main {
    margin: var(--gap-normal) 0;
    grid-area: main;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
    margin: 0 auto;
    padding: 0 var(--padding-normal);

    .information {
        display: flex;
        flex-direction: column;
        gap: var(--gap-normal);
        align-items: center;

        .avatar {
            overflow: hidden;
            border-radius: 50%;
        }

        .name {
            margin: 0;
        }

        .group {
            margin: 0;
            font-size: 0.9rem;
            color: var(--color-text-secondary);
        }
    }

    .skills-section {
        width: 100%;
        .skills {
            display: grid;
            gap: var(--gap-normal);
            grid-template-columns: repeat(auto-fit, minmax(75px, 1fr));

            .skills__item {
                --skill-color: var(--color-accent);
                padding: var(--padding-normal);
                background-color: var(--skill-color);
                color: white;
                border-radius: 26px;
                text-align: center;

                &:hover {
                    box-shadow: 0 0 8px 0px var(--skill-color);
                }
            }

            .skills__item--vue {
                --skill-color: #42b883;
            }
            .skills__item--nuxt {
                --skill-color: #00c58e;
            }
            .skills__item--sass {
                --skill-color: #cc6699;
            }
            .skills__item--typescript {
                --skill-color: #3178c6;
            }
        }
    }

    .project-section {
        width: 100%;

        .projects {
            display: grid;
            gap: var(--gap-normal);
            grid-template-columns: repeat(auto-fit, minmax(75px, 1fr));

            .project__item {
                .project__title {
                    margin: 0;
                }

                .project__content {
                    margin: 0;
                    font-size: 14px;
                }
            }
        }
    }

    .news {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        gap: var(--gap-normal);

        .news__item {
            display: flex;
            flex-direction: column;
            gap: var(--gap-normal);

            .news__title,
            .news__text {
                margin: 0;
            }

            .news__info {
                font-size: 0.9rem;
                color: var(--color-text-secondary);
            }

            .news__more {
                text-decoration: none;
                color: var(--color-accent);
            }
        }
    }

    .goods {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: var(--gap-normal);

        .goods__item {
            padding: 0;
            flex: 1;

            .goods__image {
                border-radius: var(--border-radius) var(--border-radius) 0 0;
                overflow: hidden;
            }
            .goods__name {
                margin: 0 var(--padding-normal);
                margin-top: auto;
            }
            .goods__price {
                margin: 0 var(--padding-normal) var(--padding-normal) var(--padding-normal);
                color: var(--color-accent);
                font-weight: bold;
            }

            .goods__add-to-cart {
                margin: 0 var(--padding-smaller) var(--padding-smaller) var(--padding-smaller);
            }
        }
    }

    .contacts {
        display: flex;
        flex-direction: column;
        gap: var(--gap-normal);

        .contacts__cards {
            display: grid;
            gap: var(--gap-normal);
            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

            .contacts__item {
                h3,
                p {
                    margin: 0;
                }
            }
        }

        .phone {
            color: white;
            text-decoration: none;
            background-color: var(--color-accent);
            border-radius: var(--border-radius);
            padding: var(--padding-normal);
            width: fit-content;
            margin: 0 auto;

            &:hover {
                background-color: var(--color-accent-secondary);
            }
        }
    }

    .practices {
        display: flex;
        flex-direction: column;
        gap: var(--gap-normal);

        .practices__title,
        .practices__text {
            margin: 0;
        }
    }
}

.card {
    display: flex;
    flex-direction: column;
    gap: var(--gap-normal);
    background-color: var(--color-background-secondary);
    border-radius: var(--border-radius);
    padding: var(--padding-larger);
    box-shadow: 0 0 10px 0px rgb(209 209 209 / 50%);
}

dialog {
    border-radius: var(--border-radius);
    border: none;
    max-width: 400px;
    width: 100%;
    position: relative;

    &::backdrop {
        background-color: rgba(0, 0, 0, 0.5);
    }

    .close {
        background: none;
        position: absolute;
        top: var(--padding-normal);
        right: var(--padding-normal);
    }
}

input,
select {
    border-radius: var(--border-radius);
    outline: none;
    height: 50px;
    padding: 0 var(--padding-smaller);
    border: 1.5px solid #757575;
}

textarea {
    border-radius: var(--border-radius);
    padding: var(--padding-smaller);
    font-family: "Inter", sans-serif;
    border: 1.5px solid #757575;
    height: auto;
    resize: none;
}

span.required {
    color: red;
}

.contact-us-form {
    display: flex;
    flex-direction: column;
    gap: var(--gap-normal);
}

.app-footer {
    width: 100%;
    background-color: var(--color-background-footer);
    color: var(--color-text-footer);
    padding: var(--padding-normal);
    text-align: center;
    grid-area: footer;

    .app-footer__nav {
        margin: 0 auto;
        width: fit-content;

        .menu {
            display: flex;
            gap: var(--gap-normal);
            list-style-type: none;
            padding: 0;
            margin: 0;

            .menu__link {
                color: inherit;
                text-decoration: none;
            }
        }
    }
}

@media screen and (max-width: 500px) {
    .app-header,
    .app-footer {
        text-align: center;
        height: auto;
        padding: var(--gap-normal);
        .menu {
            flex-direction: column;
        }
    }
    .content {
        .skills-section .skills {
            grid-template-columns: 1fr;
        }
        .project-section .projects {
            grid-template-columns: 1fr;
        }
        .goods {
            grid-template-columns: 1fr;
        }
    }
}
