@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("variables.css");

html,
body {
    margin: 0;
    background-color: var(--color-background);
}

* {
    box-sizing: border-box;

    transition: 0.2s ease-in-out all;
}

body {
    font-family: "Inter", sans-serif;
    min-height: 100vh;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
}

a {
    color: var(--color-accent);

    &:visited {
        color: var(--color-accent-secondary);
    }
}

img {
    display: block;
    max-width: 100%;
}

.app-header {
    width: 100%;
    background-color: var(--color-background-header);
    color: var(--color-text-header);
    height: 60px;
    display: flex;
    align-items: center;

    .app-header__nav {
        margin: 0 auto;
        width: fit-content;

        .menu {
            display: flex;
            gap: var(--gap-normal);
            list-style-type: none;
            padding: 0;
            margin: 0;

            .menu__link {
                color: inherit;
                text-decoration: none;
            }
        }
    }
}

main {
    margin: var(--gap-normal) 0;
    flex: 1;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
    margin: 0 auto;

    .information {
        display: flex;
        flex-direction: column;
        gap: var(--gap-normal);
        align-items: center;

        .avatar {
            overflow: hidden;
            border-radius: 50%;
        }

        .name {
            margin: 0;
        }

        .group {
            margin: 0;
            font-size: 0.9rem;
            color: var(--color-text-secondary);
        }
    }

    .skills {
        display: flex;
        gap: var(--gap-normal);

        .skills__item {
            padding: var(--padding-normal);
            background-color: var(--color-accent);
            color: white;
            border-radius: 26px;

            &:hover {
                box-shadow: 0 0 8px 0px var(--color-accent);
            }
        }
    }

    .experience {
        display: flex;
        flex-direction: column;
        gap: var(--gap-normal);
        width: 100%;

        .experience__item {
            .experience__title {
                margin: 0;
            }

            .experience__content {
                margin: 0;
            }
        }
    }

    .news {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: var(--gap-normal);

        .news__item {
            display: flex;
            flex-direction: column;
            gap: var(--gap-normal);

            .news__title,
            .news__text {
                margin: 0;
            }

            .news__info {
                font-size: 0.9rem;
                color: var(--color-text-secondary);
            }
        }
    }

    .goods {
        display: flex;
        flex-wrap: wrap;
        gap: var(--gap-normal);

        .goods__item {
            padding: 0;
            flex: 1;

            .goods__image {
                border-radius: var(--border-radius) var(--border-radius) 0 0;
                overflow: hidden;
            }
            .goods__name {
                margin: 0 var(--padding-normal);
                margin-top: auto;
            }
            .goods__price {
                margin: 0 var(--padding-normal) var(--padding-normal)
                    var(--padding-normal);
                color: var(--color-accent);
                font-weight: bold;
            }
        }
    }

    .contacts {
        display: flex;
        flex-direction: column;
        gap: var(--gap-normal);

        .card {
            margin: 0;
        }

        .phone {
            color: white;
            text-decoration: none;
            background-color: var(--color-accent);
            border-radius: var(--border-radius);
            padding: var(--padding-normal);
            width: fit-content;
            margin: 0 auto;

            &:hover {
                background-color: var(--color-accent-secondary);
            }
        }
    }

    .practices {
        display: flex;
        flex-direction: column;
        gap: var(--gap-normal);

        .practices__title,
        .practices__text {
            margin: 0;
        }
    }
}

.card {
    display: flex;
    flex-direction: column;
    gap: var(--gap-normal);
    background-color: var(--color-background-secondary);
    border-radius: var(--border-radius);
    padding: var(--padding-larger);
    box-shadow: 0 0 10px 0px rgb(209 209 209 / 50%);
}

.app-footer {
    width: 100%;
    background-color: var(--color-background-footer);
    color: var(--color-text-footer);
    padding: var(--padding-normal);
    text-align: center;

    .app-footer__nav {
        margin: 0 auto;
        width: fit-content;

        .menu {
            display: flex;
            gap: var(--gap-normal);
            list-style-type: none;
            padding: 0;
            margin: 0;

            .menu__link {
                color: inherit;
                text-decoration: none;
            }
        }
    }
}
